/* CSS Document */
body{
    margin: auto;
    /* background: url(./image/noi_dung.jpg); */
    background-repeat: repeat-x;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
/* CSS menu trai */
.table_container{
    border: solid 1px #ccc;
    background: #ffff;
    margin-bottom: 5px;
}
.table_container .header{
    background: url(./image/noi_dung.jpg);
    height: 35px;
    padding-left: 7px;
    font-weight: bold;
    color: #444;
}
.dssanpham{
    padding: 5px;
    vertical-align: middle;
    /* dotted: kiểu đường viền dạng chấm */
    border-bottom: dotted 1px #ccc;
}
.dssanpham img{
    margin-right: 5px;
    width: 45px;
    float: left;
}
.tensanpham{
    color: #2780B9;
    font-weight: bold;
}
.gia{
    color: red;
    font-weight: bold;
}
.left-menu{
    padding: 0px;
    margin: 0px;
}
.left-menu .lv1{
    color: #555;
    font-weight: bold;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 10px;
}
.left-menu .lv1 ul{
    padding-left: 30px;
}
.left-menu .lv2{
    color: #888;
    font-weight: bold;
    list-style-type: none;
    padding: 7px;
    padding-left: 0px;
}
/* end menu trai */
#skin-container{
    padding: 5px;
    background: #ecf1ec;
    border-left: solid 1px #ccc;
}
#skin-banner{
    background: url(./image/noi_dung.jpg);
    height: 160px;
    width: 1000px;
}
#skin-menu-ngang{
    height: 50px;
    text-align: right;
    font-weight: bold;
    color: #111;
}
#skin-content{
    width: 100%;
    padding: 5px;
}
#skin-footer{
    padding: 5px;
}
#skin-footer p{
    background: #1a1a64;
    color: #ffff;
    padding: 10px;
    margin: 0px;
}
/* CSS giohang */
.table_data{
    background: #fff;
    font: 11px;
    border-collapse: collapse;
    /* border-collapse: collapse; gom 2 đường viền của bảng và ô lại thành 1 (sẽ mỏng hơn) */
}
.table_data th{
    background: #0776BE;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border: solid 1px #ccc;
}
.table_data .cot_stt{
    text-align: center;
    width: 10%;
}
.table_data .cot_sp{
    font-weight: bold;
    color: #2780B9;
    width: 40%;
}
.table_data .cot_hsx{
    text-align: center;
    width: 20%;
}
.table_data .cot_gia{
    text-align: right;
    font-weight: bold;
    width: 30%;
    color: red;
}
.table_data .cot_slg{
    text-align: center;
    width: 5%;
}
.table_data .cot_slg input{
    text-align: center;
    font-weight: bold;
}
.table_data .input_btn{
    color: #fff;
    border: solid 1px #ccc;
    background: #0776BE;
    padding: 3px;
}
.table_data td{
    /* boderstyle boder-width color of boder  (solid: đường viền liên tục)*/
    border: solid 1px #ccc;
}
a, a:visited{
    color: #2780B9;
    text-decoration: none;
}
a:hover{
    color: #DC4C2E;
}
/* CSS lien ket menu ngang */
#skin-menu-ngang a, a:visited{
    color: #031D70;
    text-decoration: none;
}
#skin-menu-ngang a:hover{
    color: #EE2207;
    text-decoration: none;
}
#skin-menu-ngang a:active{
    color: #0576C5;
    text-decoration: none;
}
.ngan_cach{
    color: #aaa;
    margin-left: 5px;
    margin-right: 5px;
}
/* CSS menu trai */
.left-menu .lv1 a{
    color: #444;
    text-decoration: none;
}
.left-menu .lv2 a{
    color: #666;
    text-decoration: none;
}
.left-menu .lv2 a:hover{
    color: #EE2207;
    text-decoration: none;
}
/* CSS gop y  */
.table_form{
    background: #fff;
    font: 11px;
    border-collapse: collapse;
}
.table_form td{
    border: solid 1px #ccc;
    padding: 5px;
}
.table_form .tieu_de{
    background: #0776BE;
    color: #fff;
    font-weight: bold;
}
.table_form .left{
    background: #eee;
    text-align: right;
    font-weight: bold;
    width: 30%;
}
.table_form .right{
    text-align: left;
}
.table_form .bottom{
    text-align: center;
}
.table_form input{
    border: solid 1px #ccc;
    background: #fff;
    color: #333;
}
.table_form select{
    border: solid 1px #ccc;
    background: #fff;
    color: #333;
}
.table_form .button{
    color: #fff;
    border: solid 1px #ccc;
    background: #0776BE;
    padding: 2px;
    margin-right: 5px;
}
#batbuoc{
    color: red;
    font-weight: bold;
}
/* CSS so do */
.so_do{
    padding: 7px;
    padding-left: 50px;
    margin: 0px;
}
.so_do .lv1{
    color: #555;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 10px;
}
.so_do .lv1 ul{
    padding-left: 30px;
}
.so_do .lv2{
    color: #888;
    font-weight: bold;
    list-style-type: none;
    padding: 7px;
    padding-left: 0px;
}
/* CSS dsanpham */
.table_sp{
    background: #f2f4f2F1;
    border-collapse: collapse;
}
.table_sp .sanpham{
    background: #fff;
    border-collapse: collapse;
    width: 25%;
    text-align: center;
    padding: 5px;
}
.table_sp img{
    border: 0px;
    margin-bottom: 10px;
}
.table_sp .tim_kiem{
    padding: 5px;
    background: url(./image/noi_dung.jpg);
    font-size: 11px;
    color: #444;
    text-align: left;
}
.table_sp .btn_search{
    background: #2780B9;
    border: 0;
    height: 24px;
    width: 81px;
}
.table_sp input, select{
    border: solid 1px #ccc;
}
.table_sp .sap_xep{
    background: #fff;
    text-align: right;
    padding: 3px;
}
/* CSS chitiet_sp */
.tensp_lon{
    color: #2780B9;
    font-weight: bold;
    font-size: 18px;
}
.gia_cu{
    color: #990;
    text-decoration: line-through;
    font-weight: bold;
}
.lk_tinhnang, .lk_tinhnang:visited{
    background: #0776BE;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    font-size: 11px;
}
.frame{
    border: solid 1px #0776BE;
    margin-top: 5px;
}